<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block Scripts %}{% endblock %}
    <link rel="stylesheet" href="../static/style.css">
    <title>GrandPy Bot</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../static/img/gp-logo.png" alt="GrandPy">
        </div>
        <div class="head">
            <h1 class="title">GrandPy Bot</h1>
            <h2 class="subtitle">Trouve une adresse et son histoire</h2>
        </div>
    </header>

    <main>
        {% block Content %}{% endblock %}
    </main>

    <footer>
        <div class="name">© Eri Schön - 2020</div>
        <div class="links">
            <a href="https://www.erischon.dev" target="_blank"><img src="../static/img/logo-esme-000-2-1.png" alt="EriSchön"></a>
            <a href="https://github.com/erischon" target="_blank"><img src="../static/img/GitHub-Mark-64px.png" alt="Github"></a>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/72a0969713.js" crossorigin="anonymous"></script>
    <script src="../static/script.js"></script>

</body>
</html>