{% extends 'base.html' %}

{% block Scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ gkey }}&libraries=&v=weekly" defer></script>
{% endblock %}

{% block Content %}

    <h2>Bonjour, quel(s) lieu cherches-tu ?</h2>

    <section id="searchElement" class="search">
        <div class="form">
            <form id="form">
                <input type="text" id="livebox">
                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </section>

    <div id='loader' style='display: none;'>
        <img src='../static/img/loader.gif' width='42px' height='42px'>
    </div>

    <section id="responseElement" style='display: none;'>
        <div class="response">
            <div id="result_query" class="result query"></div>
            <div id="result_name" class="result name"></div>
            <div id="result_address" class="result address"></div>
            <div id="result_wiki_title" class="result wiki-title"></div>
            <div id="result_wiki_text" class="result wiki-text"></div>
            <div id="map" class="res-map"></div>
        </div>
    </section>

{% endblock %}