{% extends 'base.html' %}

{% block Scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ gkey }}&libraries=&v=weekly" defer></script>
{% endblock %}

{% block Content %}

    <h2>Bonjour, quel lieu cherches-tu ?</h2>

    <section id="searchElement" class="search">
        <div class="form">
            <form id="form">
                <input type="text" id="livebox">
                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </section>

    <div id='loader' style='display: none;'>
        <img src='../static/img/loader.gif' width='42' height='42' alt='loader'>
    </div>

    <section id="responseElement" style='display: none;'>
        <div class="response">
            <div class="result query">
                Vous m'avez questionnez à propos de : 
                <strong id="result_query"></strong>
            </div>
            <div class="result name">
                Voici ce que j'ai trouvé dans mes petites fiches bien rangées :
                <strong id="result_name"></strong>
            </div>
            <div class="result address">
                Et c'est à cette adresse :
                <strong id="result_address"></strong>
            </div>
            <div id="result_wiki_title" class="result wiki-title"></div>
            <div id="result_wiki_text" class="result wiki-text"></div>
            <div id="map" class="res-map"></div>
        </div>
    </section>

    <section id="responseNone" style='display: none;'>
        <div>
            <div id="result_none" class="noResult"></div>
        </div>
    </section>

{% endblock %}